
  <div class="container-fluid">
    
    <!-- Pie chart for Locations -->

    <!-- Pie chart for months -->
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            CAMERA LOCATION 1
          </div>
          <div class="card-body">
            <div>
              <video width="320" height="190" controls autoplay loop>
                <source src="assets/1.mp4" type="video/mp4">
              </video>

              <br>
              <br>
              <div class="card-header">
                CAMERA LOCATION 2
              </div>

              <video width="320" height="190" controls autoplay loop>
                <source src="assets/2.mp4" type="video/mp4">
              </video>

              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div style="display: block">

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            CAMERA LOCATION 3
          </div>
          <div class="card-body">
            <div>
              
              <video width="320" height="190" controls autoplay loop>
                <source src="assets/3.mp4" type="video/mp4">
              </video>

              <br>
              <br>

              <div class="card-header">
                CAMERA LOCATION 4
              </div>

              <video width="320" height="190" controls autoplay loop>
                <source src="assets/4.mp4" type="video/mp4">
              </video>

              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div style="display: block">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
